* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.navbar {
  height: 80px;
  display: center;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.navbar .navbar-cont {
  display: flex;
  justify-content: start;
  height: 80px;
  max-width: 1700px;
}

.navbar .navbar-cont .navbar-logo {
  text-align: start !important;
  margin-left: 10vw;
  margin-top: 20px;
  cursor: pointer;
  align-items: center;
}

.navbar .navbar-cont .navbar-logo img {
  align-self: start !important;
  height: 40px;
}

.navbar .navbar-cont .menu-icon {
  display: none;
}

.navbar .navbar-cont .menu-icon .fa-bars,
.navbar .navbar-cont .menu-icon .fa-times {
  color: #1b262f;
}

.navbar .navbar-cont .nav-menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 35px;
  list-style: none;
  text-align: center;
  justify-content: start;
  margin-left: 80px;
  align-items: center;
}

.navbar .navbar-cont .nav-menu .nav-links {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #6c8294;
  font-family: "Public Sans", sans-serif;
}

.navbar .navbar-cont .nav-menu .nav-links:hover {
  transition: all 0.2s ease-out;
  color: #1b262f;
}

.navbar .navbar-cont .nav-menu .nav-links-mobile {
  display: none;
}

.navbar .navbar-cont .nav-menu .nav-links .nav-item:hover {
  cursor: pointer;
}

.navbar .navbar-cont .pink-btn {
  height: 50px;
  width: 150px;
  border-radius: 25px;
  cursor: pointer;
  border: 1px solid #ba4270;
  background-color: #ba4270;
  color: #fbfcfe;
}

@media screen and (min-width: 756px) {
  .navbar .navbar-cont .pink-btn {
    position: absolute;
    right: 20px;
    top: 20px;
  }
}

.navbar .navbar-cont .pink-btn:hover {
  transition: all 0.2s ease-out;
  border-color: #da6d97;
  background-color: #da6d97;
}
